body {
    margin:0;
    font-family: 'Roboto', sans-serif;
    /* background-image: image("turkey_trot.jpeg"); */
    }
    
    .Header-branding-logo{
        height: 50px;
        width: 70;
    }
    
    /* top nav bar */
    
    .nav-list {
        left: 0;
        margin-top: 0;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 0;
        list-style-type: none;
        background-color: white;
        position: fixed;
        top: 0;
    
        z-index: 1;
        width: 100%;
    }
    
    .nav-style {
        float: right;
        border-radius: 25px;
        background-color: skyblue
    }
    
    .nav-list li a {
        display: block;
        color: white;
        text-align: center;
        padding: 15px 30px;
        text-decoration: none;
    }
    
    .nav-list li a:hover:not(.active) {
        background-color: lightblue;
        border-radius: 25px;
    }
    
    .active {
        background-color: skyblue;
        border-radius: 25px;
    }
    /* end top nav bar */
    
    
    .textInSection{
        margin-top: 200px;
        margin-left: 500px;
        display: inline-block;
        font-size: 20px;
        padding-left: 20px;
    }
    
    .contact_button {
        display: inline-block;
        padding: 15px 30px;
        text-decoration: none;
        border-radius: 40px;
        background-color: lightblue;   
        margin-top: 15px;
    }
    
    h1{
        font-size: 80px;
        font-family: "Roboto";
    }
    
    
    
    